@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .glow {
    @apply text-white;
    @apply shadow-glow;
  }
}

/* {
 "--w3o-background-color": "#rgb(7 1 2)", 
"--w3o-foreground-color": "#404040", 
"--w3o-text-color": "#ffffff", 
"--w3o-border-color": "#f80b52", 
"--w3o-action-color": "unset", 

"--w3o-border-radius": "4px", 
"--w3o-font-family": "fira-code", 
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --w3o-font-family: var(--font-fira-code);
  --w3o-background-color: #070114;
  --w3o-border-radius: 4px;
  --w3o-text-color: #ffffff;
  --w3o-foreground-color: #ffffff00;
  --w3o-action-color: #f80b52;
  --w3o-border-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 7, 1, 20;
    --background-end-rgb: 10, 254, 151;
  }
}

body {
  color: #ffffff;
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fade {
  animation: fade 2s linear infinite;
}

.tooltip {
  display: flex;
  width: 50px;
  height: 20px;
  background: white;
  border-radius: 8px;
  visibility: hidden;
}

.tooltip:hover {
}

.scatter-point {
}

.scatter-point:hover + .tooltip {
  visibility: visible;
}

.scatter-point-group:hover .scatter-point-tooltip {
  visibility: visible;
}


@keyframes rotate-bounce {
  0% {
    transform: rotate(0deg) translateY(0px);
  }
  25% {
    transform: rotate(45deg) translateY(0px);
  }
  50% {
    transform: rotate(90deg) translateY(-20px);
  }
  75% {
    transform: rotate(135deg) translateY(0px);
  }
  100% {
    transform: rotate(180deg) translateY(0px);
  }
}

@layer utilities {
  .rotate-bounce {
    animation: rotate-bounce 2s infinite;
  }
}